<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
       Me llamo Octavio Emanuel Paz pero mis amigos me llaman "Otti". <strong>Estudiante de programación en la Facultad Tecnológica Nacional (UTN) </strong> y del programa "One Next Education(ONE)" de Alura Latam y Oracle. 
    </p>

    <p>
       Entre mis éxitos destaco que durante el cursado de la tecnicatura en programación, ayude a mis compañeros a aprender sobre diversos temas de desarrollo. Encontrando gran satisfacción tanto en enseñar como en aprender.
    </p>

    <p>
       Estoy interesado en prácticas en el área de desarrollo FRONT-END, donde <strong>disfruto creando experiencias web</strong> para  los usuarios. Las cuales me permitan crecer intelectualmente y desarrollar  mis conocimientos técnicos.
    </p>
  </div>
 
  <img src="/public/yo.jpg" alt="Octavio Paz" width="200" height="200"  class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">

</article>